* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

html {
  position: relative;
  background: linear-gradient(
    137.06deg,
    rgba(39, 108, 118, 0.7) 32.14%,
    rgba(108, 185, 196, 0.4) 75.9%
  );
}

header {
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 149px;
  margin-left: 30%;
}

section {
  position: absolute;
  width: 655px;
  height: 645px;
  left: 392px;
  top: 232px;
  background: #d9ffea;
  box-shadow: 0px 0px 30px 5px #b7f7f7;
  padding: 14px 16px;
  margin-top: -5%;
}

.button {
  background-color:#5A9AB6;
  color: white;
}

.deleteBtn, .completedBtn {
  background-color: #5A9AB6;
}

.buttons {
  margin-top: 4%;
}

.social-icons {
  margin-top: 75%;
  margin-left: 47%;
}
